My report and findings are at the bottom of the page.

In [28]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
import warnings
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
import sklearn
from datetime import timedelta
from sklearn.metrics import roc_curve
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score

In [29]:
pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 25)

In [30]:
data_users = pd.read_csv('takehome_users.csv', encoding='latin-1')

In [31]:
data_users

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
...,...,...,...,...,...,...,...,...,...,...
11995,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0
11996,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN
11997,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0
11998,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN
11999,12000,2014-01-26 08:57:12,Lima Thaís,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN

In [32]:
data_eng = pd.read_csv('takehome_user_engagement.csv')
data_eng.time_stamp = pd.to_datetime(data_eng.time_stamp)
data_eng = data_eng.set_index('time_stamp', drop = True)

In [33]:
data_eng#.groupby('user_id').sum().head(20)

                     user_id  visited
time_stamp
2014-04-22 03:53:30        1        1
2013-11-15 03:45:04        2        1
2013-11-29 03:45:04        2        1
2013-12-09 03:45:04        2        1
2013-12-25 03:45:04        2        1
...                      ...      ...
2013-09-06 06:14:15    11996        1
2013-01-15 18:28:37    11997        1
2014-04-27 12:45:16    11998        1
2012-06-02 11:55:59    11999        1
2014-01-26 08:57:12    12000        1

[207917 rows x 2 columns]

In [34]:
# help from various sources online

def adopted_func(x):
    label = 0
    data = data_eng[data_eng['user_id'] == x].resample('D').min().dropna()
    for i in range(len(data)-2):
        if data.index[i + 2] - data.index[i] > timedelta(days=7):
            label = 0
        else:
            label = 1
    return label

data_users['adopted'] = data_users['object_id'].apply(adopted_func)

In [35]:
data_users.groupby('adopted').count()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
adopted,,,,,,,,,,
0,10878,10878,10878,10878,10878,7701,10878,10878,10878,5798
1,1122,1122,1122,1122,1122,1122,1122,1122,1122,619

In [36]:
# removing all unnecessary columns
# Removing a few to make sure that small cell sizes don't exist
data_users.drop(['object_id', 'creation_time', 'name', 'email', 'invited_by_user_id', 'last_session_creation_time'
                 ], axis = 1, inplace = True)

In [37]:
# Setting up dummies
# One hot encoding
model_data = pd.get_dummies(data_users, columns = ['creation_source', 'org_id'
                                                   ], drop_first = True)

In [38]:
for col in model_data.columns:
    if model_data[col].isnull().values.sum() > 0:
        print(col, ":", model_data[col].isnull().values.sum(), 'missing values.')

In [39]:
# Initial split
y = model_data.loc[:,'adopted']
x = model_data.drop('adopted', axis = 1)

In [40]:
# Split into training and test set
# Stratifying to make sure the split of phisihng/valid stays equal across train/test split.
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state=2)

In [41]:

rf = RandomForestClassifier(random_state=2)

params_rf = {
             'n_estimators': [100, 350, 500],
             'min_samples_leaf': [2, 10, 30]
             }

Randomized_rf = GridSearchCV(estimator=rf,param_grid=params_rf,
                     scoring='accuracy',cv=5)

Randomized_rf.fit(x_train, y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False, random_state=2,
                                              verbose=0, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'min_samples_leaf': [2, 10, 30],
                         'n_estimators': [100, 350, 500]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [42]:
# approach help from various sources online and sdf94 on github
best_rf = RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False, random_state=2,
                                              verbose=0, warm_start=False)
best_rf.fit(x_train,y_train)
feature_coef = pd.DataFrame(best_rf.feature_importances_).transpose()
feature_coef.columns = list(x_train.columns)
feature_coef.index = ['RF'] 
feature_coef.transpose().sort_values(by='RF',ascending=False).head(20)

C:\Users\maksym\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

                                          RF
opted_in_to_mailing_list            0.122377
enabled_for_marketing_drip          0.099030
creation_source_ORG_INVITE          0.071825
creation_source_SIGNUP              0.071209
creation_source_SIGNUP_GOOGLE_AUTH  0.048347
creation_source_PERSONAL_PROJECTS   0.013558
org_id_387                          0.007800
org_id_318                          0.006358
org_id_13                           0.006322
org_id_400                          0.006222
org_id_392                          0.005750
org_id_35                           0.005664
org_id_248                          0.004720
org_id_225                          0.004574
org_id_280                          0.004550
org_id_337                          0.004423
org_id_70                           0.004351
org_id_235                          0.004301
org_id_288                          0.004272
org_id_2                            0.004124

Above are the top 20 features that affect people becoming adopted users. I ran a Random Forest classifier because of the time contraint of the assignment as well as RF being a good method. It's possible that there are other methods that would produce better results, but this is at the very least, a good foundation that can easily deal with very wide datasets, which given the encoding on this dataset, it is.

From the results of my analysis, it looks like those users who are open to being in a mailing list and open to receiving marketing material are the users that will likely be considered adopted. Also those who signed up as a result of being in an organization is another good predictor of them being adopted. Some interesting organizations that seem to have a high influence are org_id_387, and org_id_318, among others.

SOme other factors that I considered in my investigation were the null values, which columns were actually useful for this analysis, prompting me to remove several columns that would not have been useful. Luckily, there weren't missing values in the columns that I found useful.

As for future steps, it would be useful to know how much each person uses the app for, their geographical location, and perhaps other demographic data such as age, gender,etc. which can all play a role in deciding the accuracy of the model.